In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load ="../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

#Print summary head() table
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44


Player Count:
- Display the total number of players

In [11]:
# Collecting the columns as they appear
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [12]:
# Checking for rows of missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [14]:
# Counting the number of players
number_of_players_count = purchase_data_df["SN"].nunique()

number_of_players_count

576

In [15]:
# Placing the number of players into a dictionary
number_of_players_dict = [{"Total Number of Players": (number_of_players_count)}]

# Storing information above in data frame
total_number_of_players_df = pd.DataFrame(number_of_players_dict)

total_number_of_players_df

   Total Number of Players
0                      576

Purchasing Analysis (Total):
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [17]:
# Using .describe() display the statistical overview of the data frame
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [18]:
# Counting the number of unique items
unique_items = purchase_data_df["Item ID"].nunique()
unique_items

183

In [22]:
# Counting the average price
average_price = round(purchase_data_df["Price"].mean(), 2)
average_price

3.05

In [24]:
# Counting number of purchases
number_purchases = purchase_data_df["Item Name"].count()
number_purchases

780

In [26]:
# Counting total revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [33]:
# Placing all the data above into a dictionary 
purchasing_analysis_dict = [{"Number of Unique Items": (unique_items),"Average Price": (average_price),
                             "Number of Purchases": (number_purchases), "Total Revenue": (total_revenue)}]

# Placing information above into a data frame
purchasing_analysis_df = pd.DataFrame(purchasing_analysis_dict)

# Placing the columns in the right order
purchasing_analysis_df = purchasing_analysis_df[["Number of Unique Items", "Average Price", "Number of Purchases",
                                                 "Total Revenue"]] 

# Use .map to format all the columns
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

Gender Demographics:
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [34]:
# Print the initial data frame for refernces
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [50]:
# Checking unique names for Gender column
gender = purchase_data_df["Gender"].unique()
gender

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [87]:
# Gender Demographics
GDs = purchase_data_df.groupby(["Gender"])


# Counting total number for genders
total_count = gender_demographics["SN"].nunique()

# Counting percentage for each gender
percentage_cnt = (total_count/purchase_data_df["SN"].nunique()) * 100

# Placing information above into a data frame
GDs_analysis_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percentage_cnt})

# Use .map to format all the columns
GDs_analysis_df["Percentage of Players"] = GDs_analysis_df["Percentage of Players"].map("{:.2f}%".format)

# Placing columns in order
GDs_analysis_df = GDs_analysis_df[["Total Count", "Percentage of Players"]]

# Sorting data from highest to lowest value
GDs_analysis_df = GDs_analysis_df.sort_values(by = "Total Count", ascending = False)
GDs_analysis_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender):
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [208]:
# Purchasing Analysis ( Gender)
# Creating data frame for gender analysis
gender_df = purchase_data_df.groupby(["Gender"])
gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [175]:
# Calculating the total number for genders
total_count = gender_demographics["SN"].nunique()
total_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [160]:
# Calculating purchase count 
purchase_count = gender_df["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [161]:
# Counting the average price
price_avg = round(gender_df["Price"].mean(), 2)
price_avg

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [162]:
# Calculating the total purchase
total_purchases = round(gender_df["Price"].sum(), 2)
total_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [202]:
# Calculating the total avg.total per person
avg_total = gender_df["Price"].sum() / gender_demographics["SN"].nunique()
avg_total

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [212]:
# Placing results in the data frame
summary_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": price_avg,
                           "Total Purchase Value": total_purchases, "Average Total Purchase per Person": avg_total})

# Use .map to format all the columns

summary_df["Total Purchase Value"] = summary_df["Total Purchase Value"].astype(float).map("${:.2f}".format)
summary_df["Average Total Purchase per Person"] = summary_df["Average Total Purchase per Person"].astype(float).map("${:.2f}".format)
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].astype(float).map("${:.2f}".format)

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics:
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
- Optional: round the percentage column to two decimal points
- Display Age Demographics Table